:root {
  --color-primary: #FF2253;
  --color-primary-50: #FFE9EE;
  --color-secondary: #4ACA94;
  --color-secondary-50: #E4F7EF;

  --product-1: #EEF6FF;
  --product-2: #FFF7F4;
  --product-3: #FFE4EA;
  --product-4: #F3EEF5;

  --grey-4: #212529;
  --grey-3: #868E96;
  --grey-2: #E9ECEF;
  --grey-1: #F8F9FA;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 95%;
  max-width: 1400px;
  margin: auto;
}

header {
  padding: 23px 0 16px;
}

.header__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

header .header__inputArea {
  display: flex;
  align-items: center;
  background-color: var(--grey-1);
  border: 1.5px solid var(--grey-1);
  box-sizing: border-box;
  border-radius: 33.0868px;
  padding: 5px 5px 5px 16px;
}

header .header__inputArea:focus-within {
  border: 1.5px solid var(--grey-4);
}

header #inputSearchName {
  background-color: transparent;
  border: none;
  flex: 1 1 auto;
  outline: none;
  font-family: Inter;
  font-size: 13.5px;
  line-height: 16px;
  color: var(--grey-3);
}

header #buttonSearchName {
  flex-shrink: 0;
  background-color: var(--color-primary-50);
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
}

header #buttonSearchName img {
  vertical-align: -2px;
}


@media screen and (min-width: 530px) {
  header{
    box-shadow: 0px 0px 40px -20px rgba(0, 0, 0, 0.25);
  }

  .header__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  header .header__inputArea {
    max-width: 311px;
  }
}

/* header__inputArea
inputSearchName
buttonSearchName */